.features{

    grid-column: center-start / center-end;
    display: flex;
    align-items: baseline;
    align-content: center;
    justify-content: space-evenly;

    @include respond(tab-port){
        flex-direction: column;
        padding: 2rem;
        text-align: center;
    }

    & > *:not(:first-child) {
        margin-top: 2rem;
    }


    &__icon{
        font-size: 2rem;
        margin-bottom: 1rem;
        padding: 1.5rem;
        color: rgba(0, 0, 0, 0.5);
        border: solid 1px rgba(0, 0, 0, 0.5);
        border-radius: 100%;
        justify-self: center;
    }

    &__paragraph{
        margin-top: .7rem;
        font-size: 1rem;
        line-height: 1.2rem;

        & > *:not(:last-child) {
           margin-right: 4rem;
        }
    }
}