.container{
    display: grid;
    grid-template-rows: 80vh minmax(10rem, min-content) minmax(10rem, min-content) minmax(min-content, 50vh) 20rem minmax(10rem, min-content) 10rem ;
    grid-template-columns: [full-start] minmax(12rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(12rem, 1fr) [full-end];
}