.info{
    grid-column: center-start / center-end;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-column-gap: 1rem;
    margin: 3rem 0;

    &__block-text{
        display: relative;

        @include respond(tab-land){
            margin-top: 0rem;
        }
    }

    &__block-images{
        & > *:not(:last-child) {
            margin-right: .5rem;
        }
        display: flex;
        justify-content: space-evenly;

        @include respond(tab-land){
            margin: 2rem 0;
        }
    }

    &__img{
        height: 15rem;
        width: 11rem;
        object-fit: cover;
    }
}