.btn:link,
.btn:visited,
.btn{
    border: none;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    padding: .4rem 2.3rem;
    transition: all .2s;

    @include respond(tab-land){
        justify-self: center;    
    }
}

.btn:active,
.btn:hover{
    background-color: #222;
}