.principal-title{
    margin-left: -1.5rem;
    font-size: 8rem;
    color: #fff;
    font-family: 'Kaushan Script', cursive;
}

.subtitle{
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
}

.paragraph{

    &--white{
        padding-top: 7rem;
        font-size: 1.2rem;
    }
}